{% extends "polls/base.html" %}

{% block title %}Index | ScopeCreep{% endblock %}

{% block template_content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="display-3">
                ScopeCreep
            </h1>
            <p class="lead text-muted">
                Where user expectations meet developer's ears.
            </p>
            <p>
                {% include "polls/index/jumbotron_actions.html" %}
            </p>
        </div>
    </div>
{% endblock %}