{% extends "polls/base.html" %}

{% block title %}{{ suggestion.name }} | Suggestion | ScopeCreep{% endblock %}

{% block template_content %}
    <div class="jumbotron p-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-muted">
                        Suggestion
                    </h2>
                    <h1>
                        {{ suggestion.name }}
                    </h1>
                    <p class="lead text-muted mb-0">
                        Created by {{ suggestion.submitter }}
                    </p>
                </div>
                <div class="col-md-2 text-center">
                    <h2>
                        Score
                    </h2>
                    {% with score=suggestion.score %}
                    <h1 class="{% if score < 0 %}text-danger{% elif score == 0 %}text-warning{% elif score > 0 %}text-success{% endif %}">
                        {{ score }}
                    </h1>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "polls:index" %}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "polls:topics" %}">
                    Topics
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url "polls:topic" suggestion.topic_id %}">
                    {{ suggestion.topic.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                {{ suggestion.name }}
            </li>
        </ol>

        {% if suggestion.description %}
            <div class="row">
                <div class="col">
                    <h3>
                        Description
                    </h3>
                    <p>
                        {{ suggestion.description|linebreaks }}
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <h3>
                    Comments
                </h3>

                <div class="row mb-4">
                    <div class="col">
                        <div id="createAccordion" role="tablist">
                            <div class="card">
                                <div class="card-header" id="headingCreate" role="tab">
                                    <a data-toggle="collapse" href="#collapseCreate" aria-expanded="false" aria-controls="collapseCreate">
                                        Create a comment
                                    </a>
                                </div>
                                <div id="collapseCreate" class="collapse" role="tabpanel" aria-labelledby="headingCreate">
                                    <div class="card-body">
                                        {% include "polls/suggestion/create_comment_form.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% for comment in comments.all %}
                    <div class="row mb-2">
                        <div class="col">
                            {% include "polls/suggestion/comment_item.html" %}
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-secondary text-center" role="alert">
                        No comments to display.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
