{% extends "polls/base.html" %}

{% block title %}{{ suggestion.name }} | Suggestion | ScopeCreep{% endblock %}

{% block template_content %}
    <div class="jumbotron p-4 mb-4">
        <div class="container">
            <h2 class="text-muted">
                Suggestion
            </h2>
            <h1>
                {{ suggestion.name }}
            </h1>
            <p class="lead text-muted mb-0">
                Created by {{ suggestion.submitter }}
            </p>
        </div>
    </div>

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "polls:index" %}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "polls:topics" %}">
                    Topics
                </a>
            </li>
            <li class="breadcrumb-item active">
                <a href="{% url "polls:topic" suggestion.topic_id %}">
                    {{ suggestion.topic.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                {{ suggestion.name }}
            </li>
        </ol>

        {% if suggestion.description %}
            <div class="row">
                <div class="col">
                    <h3>
                        Description
                    </h3>
                    <p>
                        {{ suggestion.description|linebreaks }}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
