{% extends "polls/base.html" %}

{% block title %}{{ topic.name }} | Topic | ScopeCreep{% endblock %}

{% block template_content %}
    <div class="jumbotron p-4 mb-4">
        <div class="container">
            <h2 class="text-muted">
                Topic
            </h2>
            <h1>
                {{ topic.name }}
            </h1>
            <p class="lead text-muted mb-0">
                By {{ topic.submitter }}
            </p>
        </div>
    </div>

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "polls:index" %}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "polls:topics" %}">
                    Topics
                </a>
            </li>
            <li class="breadcrumb-item active">
                {{ topic.name }}
            </li>
        </ol>

        {% if user == topic.submitter %}
            <div class="row">
                <div class="col">
                    <h3>
                        Manage
                    </h3>
                </div>
                <div class="col">
                    <form action="{% url "polls:topic_delete" topic.id %}">
                        <button type="submit" class="btn btn-danger float-right">
                            Delete
                        </button>
                    </form>
                    <a class="btn btn-primary float-right mr-2" href="{% url "polls:topic_edit" topic.id %}">
                        Edit
                    </a>
                </div>
            </div>
        {% endif %}

        {% if topic.description %}
            <div class="row">
                <div class="col">
                    <h3>
                        Description
                    </h3>
                    <p>
                        {{ topic.description|linebreaks }}
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <h3>
                    Suggestions
                </h3>

                <div class="row mb-4">
                    <div class="col">
                        <div id="createAccordion" role="tablist">
                            <div class="card">
                                <div class="card-header" id="headingCreate" role="tab">
                                    <a data-toggle="collapse" href="#collapseCreate" aria-expanded="false" aria-controls="collapseCreate">
                                        Create a suggestion
                                    </a>
                                </div>
                                <div id="collapseCreate" class="collapse" role="tabpanel" aria-labelledby="headingCreate">
                                    <div class="card-body">
                                        {% include "polls/topic/create_suggestion_form.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {% for suggestion in suggestions.all %}
                    <div class="row mb-2">
                        <div class="col">
                            {% include "polls/topic/suggestion_item.html" %}
                        </div>
                    </div>
                {% empty %}
                    <div class="alert alert-secondary text-center" role="alert">
                        No suggestions to display.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
