{% extends "polls/base.html" %}

{% block title %}{{ topic.name }} | ScopeCreep{% endblock %}

{% block template_content %}
    <div class="container">
        <h1 class="mt-3 mb-2">
            {{ topic.name }}
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "polls:index" %}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "polls:topics" %}">
                    Topics
                </a>
            </li>
            <li class="breadcrumb-item active">
                {{ topic.name }}
            </li>
        </ol>

        <div class="row">
            <div class="col">
                <h2>
                    Description
                </h2>
                <p>
                    {{ topic.description }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>
                    Suggestions
                </h2>
                <ul>
                    {% for suggestion in topic.suggestion_set.all %}
                        {% include "polls/topic/suggestion_item.html" %}
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
