{% extends "polls/base.html" %}

{% block title %}Topics | ScopeCreep{% endblock %}

{% block template_content %}
    <div class="container">
        <h1 class="mt-3 mb-2">
            Topics
        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "polls:index" %}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active">
                Topics
            </li>
        </ol>

        <ul>
            {% for topic in topic_list.all %}
                <li>
                    <a href="{% url "polls:topic" topic.id %}">
                        {{ topic.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
