{% extends "polls/base.html" %}

{% block title %}Edit {{ topic.name }} | ScopeCreep{% endblock %}

{% block template_content %}
    <div class="jumbotron p-4 mb-4">
        <div class="container">
            <h2 class="text-muted">
                Topic
            </h2>
            <h1>
                {{ topic.name }}
            </h1>
            <p class="lead text-muted mb-0">
                Created by {{ topic.submitter }}
            </p>
        </div>
    </div>

    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url "polls:index" %}">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "polls:topics" %}">
                    Topics
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url "polls:topic" topic.id %}">
                    {{ topic.name }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                Edit
            </li>
        </ol>

        <div class="row">
            <div class="col">
                {% include "polls/topic/edit_topic_form.html" %}
            </div>
        </div>
    </div>
{% endblock %}
