{% load humanize %}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>
                {{ suggestion.name }}
            </h4>
        </div>
        <div class="card-subtitle text-muted mb-2">
            Created by {{ suggestion.submitter }} ({{ suggestion.date_created|naturaltime }})
        </div>
        {% if suggestion.description %}
            <p class="card-text">
                {{ suggestion.description|truncatewords:50 }}
            </p>
        {% endif %}
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Score : {{ suggestion.score }}
        </li>
    </ul>
    <div class="card-footer">
        <form method="post" action="{% url "polls:vote" suggestion.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" name="opinion" value="1">
                Like
            </button>
            <button type="submit" class="btn btn-danger" name="opinion" value="-1">
                Dislike
            </button>
            <a class="btn btn-link" href="{% url "polls:suggestion" suggestion.id %}">
                View suggestion
            </a>
        </form>
    </div>
</div>
