<div class="row mb-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h4>
                        {{ suggestion.name }}
                    </h4>
                    <p>
                        By {{ suggestion.submitter }}
                    </p>
                </div>
                <div class="card-text">
                    <p>
                        {{ suggestion.description }}
                    </p>
                    <p>
                        Score: {{ suggestion.score }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>