<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>
                {{ topic.name }}
            </h4>
            <p>
                By {{ topic.submitter }}
            </p>
        </div>
        <div class="card-text">
            <p>
                {{ topic.description }}
            </p>
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="{% url "polls:topic" topic.id %}">
            View topic
        </a>
    </div>
</div>
