{% load humanize %}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4>
                {{ topic.name }}
            </h4>
        </div>
        <div class="card-subtitle text-muted mb-2">
            Created by {{ topic.submitter }} ({{ topic.date_created|naturaltime }})
        </div>
        {% if topic.description %}
            <p class="card-text">
                {{ topic.description|truncatewords:50 }}
            </p>
        {% endif %}
    </div>
    <div class="card-footer">
        <a class="card-link" href="{% url "polls:topic" topic.id %}">
            View topic
        </a>
    </div>
</div>
